/node_modules/
/typings/
/.vscode/
.eslintrc.json
jsconfig.json
typings.json
npm-debug.log
.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
